<div class="course-listing" *ngIf="{ courses: courses$ | async } as vm">
  <h2 class="course-listing__heading">Courses</h2>
  <div class="course-listing__content">
    <div class="course-listing__labels-row">
      <span>ID</span>
      <span>Image</span>
      <span>Name</span>
      <span>Status</span>
    </div>
    <div class="course-listing__grid">
      <!-- TODO: add filtering -->
      <cfi-course-listing-row *ngFor="let course of vm.courses" [course]="course"></cfi-course-listing-row>
      </div>
  </div>
  <table class="table"></table>
</div>
